Test-Command: ./debian/tests/ispell-test 000_main
Features: test-name=000_main-check

Test-Command: ./debian/tests/ispell-test bug_151397
Features: test-name=bug_151397-check

Test-Command: ./debian/tests/ispell-test bug_273060
Features: test-name=bug_273060-check

Test-Command: ./debian/tests/ispell-test bug_301287
Features: test-name=bug_301287-check

Test-Command: ./debian/tests/ispell-test bug_320285
Features: test-name=bug_320285-check

Test-Command: ./debian/tests/ispell-test bug_366606
Features: test-name=bug_366606-check

Test-Command: ./debian/tests/ispell-test bug_378787
Features: test-name=bug_378787-check

Test-Command: ./debian/tests/ispell-test bug_389901
Features: test-name=bug_389901-check

Test-Command: ./debian/tests/ispell-test bug_402053
Features: test-name=bug_402053-check

Test-Command: ./debian/tests/ispell-test bug_408836
Features: test-name=bug_408836-check

Test-Command: ./debian/tests/ispell-test bug_412540
Features: test-name=bug_412540-check

Test-Command: ./debian/tests/ispell-test bug_415087
Features: test-name=bug_415087-check

Test-Command: ./debian/tests/ispell-test bug_434455
Features: test-name=bug_434455-check

Test-Command: ./debian/tests/ispell-test bug_440108
Features: test-name=bug_440108-check

Test-Command: ./debian/tests/ispell-test bug_451323
Features: test-name=bug_451323-check

Test-Command: ./debian/tests/ispell-test bug_452973
Features: test-name=bug_452973-check

Test-Command: ./debian/tests/ispell-test bug_459835
Features: test-name=bug_459835-check
